<!DOCTYPE html>
<html>
<head>
    <title>PlayPal! Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/admin.css"/>
#{get 'moreStyles' /}
*{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>
    }*
#{get 'moreScripts' /}
</head>
<body>

<div id="header">
    <div id="logo">
        PlayPal! <span>administration</span>
    </div>
*{
    <ul id="tools">
    <li>
            <a href="@{Secure.logout()}">Log out</a>
        </li>
    </ul>
    }*
</div>

<div id="main">

    <ul id="adminMenu">
        <li class="${request.controller == 'Dashboard' ? 'selected' : ''}">
            <a href="@{cmsadmin.Dashboard.index()}">Dashboard</a>
        </li>
    *{#{secure.check 'admin'}}*
        <li class="${request.controller == 'Pages' ? 'selected' : ''}">
            <a href="@{cmsadmin.Pages.list()}">Pages</a>
        </li>
        <li class="${request.controller == 'Segments' ? 'selected' : ''}">
            <a href="@{cmsadmin.Segments.list()}">Segments</a>
        </li>
        <li class="${request.controller == 'Contents' ? 'selected' : ''}">
            <a href="@{cmsadmin.Contents.list()}">Content</a>
        </li>
        <li class="${request.controller == 'Aliases' ? 'selected' : ''}">
            <a href="@{cmsadmin.Aliases.list()}">Alias</a>
        </li>
        <li class="${request.controller == 'Navigations' ? 'selected' : ''}">
            <a href="@{cmsadmin.Navigations.list()}">Navigation</a>
        </li>
    *{#{/secure.check}}*
    </ul>

#{doLayout /}

</div>


<p id="footer">
    PlayPal! is a <a href="http://www.playframework.org">Play framework</a> framework adaptation of Drupal.
</p>

</body>
</html>