body {
    background-color: #f8f8f8;
}

.dashboard {
    padding: 0;
}

.dashboard.item {
    border: 1px dotted #000;
    width: 33%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.dashboard.item > div {
    padding: 10px;
}

.dashboard.item.title, .dashboard.item.description {
    border: 0;
    width: 100%;
}

.dashboard.item.title {
    font-weight: bold;
}

.dashboard.item > div > a {
    border: 0;
}

.dashboard.item > div > p {
    margin: 0;
}